<nav th:fragment="navbar" class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <span class="fs-4">Busway</span>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/buses" class="nav-link px-2">Bus</a></li>
        <li><a href="/stations" class="nav-link px-2">Stations</a></li>
        <li><a href="/drivers" class="nav-link px-2">Conducteurs</a></li>
        <li><a href="/trips" class="nav-link px-2">Voyages</a></li>
    </ul>

    <div class="col-md-3 text-end">
        Account
    </div>
</nav>